@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/assets/fonts/IBMPlexSansArabic-Bold.eot');
  src:
    url('/assets/fonts/IBMPlexSansArabic-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/IBMPlexSansArabic-Bold.woff2') format('woff2'),
    url('/assets/fonts/IBMPlexSansArabic-Bold.woff') format('woff'),
    url('/assets/fonts/IBMPlexSansArabic-Bold.ttf') format('truetype'),
    url('/assets/fonts/IBMPlexSansArabic-Bold.svg#IBMPlexSansArabic-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/assets/fonts/IBMPlexSansArabic-ExtraLight.eot');
  src:
    url('/assets/fonts/IBMPlexSansArabic-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/IBMPlexSansArabic-ExtraLight.woff2') format('woff2'),
    url('/assets/fonts/IBMPlexSansArabic-ExtraLight.woff') format('woff'),
    url('/assets/fonts/IBMPlexSansArabic-ExtraLight.ttf') format('truetype'),
    url('/assets/fonts/IBMPlexSansArabic-ExtraLight.svg#IBMPlexSansArabic-ExtraLight')
      format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/assets/fonts/IBMPlexSansArabic-Light.eot');
  src:
    url('/assets/fonts/IBMPlexSansArabic-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/IBMPlexSansArabic-Light.woff2') format('woff2'),
    url('/assets/fonts/IBMPlexSansArabic-Light.woff') format('woff'),
    url('/assets/fonts/IBMPlexSansArabic-Light.ttf') format('truetype'),
    url('/assets/fonts/IBMPlexSansArabic-Light.svg#IBMPlexSansArabic-Light')
      format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/assets/fonts/IBMPlexSansArabic-Medium.eot');
  src:
    url('/assets/fonts/IBMPlexSansArabic-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/IBMPlexSansArabic-Medium.woff2') format('woff2'),
    url('/assets/fonts/IBMPlexSansArabic-Medium.woff') format('woff'),
    url('/assets/fonts/IBMPlexSansArabic-Medium.ttf') format('truetype'),
    url('/assets/fonts/IBMPlexSansArabic-Medium.svg#IBMPlexSansArabic-Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/assets/fonts/IBMPlexSansArabic-SemiBold.eot');
  src:
    url('/assets/fonts/IBMPlexSansArabic-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/IBMPlexSansArabic-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/IBMPlexSansArabic-SemiBold.woff') format('woff'),
    url('/assets/fonts/IBMPlexSansArabic-SemiBold.ttf') format('truetype'),
    url('/assets/fonts/IBMPlexSansArabic-SemiBold.svg#IBMPlexSansArabic-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/assets/fonts/IBMPlexSansArabic-Regular.eot');
  src:
    url('/assets/fonts/IBMPlexSansArabic-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/IBMPlexSansArabic-Regular.woff2') format('woff2'),
    url('/assets/fonts/IBMPlexSansArabic-Regular.woff') format('woff'),
    url('/assets/fonts/IBMPlexSansArabic-Regular.ttf') format('truetype'),
    url('/assets/fonts/IBMPlexSansArabic-Regular.svg#IBMPlexSansArabic-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('/assets/fonts/IBMPlexSansArabic-Thin.eot');
  src:
    url('/assets/fonts/IBMPlexSansArabic-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/IBMPlexSansArabic-Thin.woff2') format('woff2'),
    url('/assets/fonts/IBMPlexSansArabic-Thin.woff') format('woff'),
    url('/assets/fonts/IBMPlexSansArabic-Thin.ttf') format('truetype'),
    url('/assets/fonts/IBMPlexSansArabic-Thin.svg#IBMPlexSansArabic-Thin')
      format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.ibm-reg {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: normal;
}
.ibm-light {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 300;
}
.ibm-extra-light {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 200;
}
.ibm-thin {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 100;
}
.ibm-medium {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 500;
}
.ibm-semi-bold {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 600;
}
.ibm-bold {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: bold;
}
