################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Spectra.Application/bin/Debug/net8.0
/Spectra.Application/obj
/Spectra.Domain/bin/Debug/netstandard2.1
/Spectra.Domain/obj
/Spectra.Domain.Shared/bin/Debug/netstandard2.1
/Spectra.Domain.Shared/obj
/Spectra.Infrastructure/bin/Debug/net8.0
/Spectra.Infrastructure/obj
/Spectra.Web/bin/Debug/net8.0
/Spectra.Web/obj
/Spectra.WebAPI/bin/Debug/net8.0
/Spectra.WebAPI/obj
/Spectra.IdentityServer/obj
/Spectra.IdentityServer/bin/Debug/net8.0
**/bin/*
**/obj/*
/Spectra.Web/wwwroot/Upload/ScientificDegree/Doctors/05f5a29f-0a89-41a3-b25f-a5b4d5554ae0_test.jpg
/Spectra.Web/wwwroot/Upload/ScientificDegree/Doctors/3ebf8ae1-07f7-417d-a030-7d7158e7c139_test.jpg
/Spectra.Web/wwwroot/Upload/ScientificDegree/Doctors/eee42984-29cc-4cf7-a198-9202a2ecaff0_test.jpg
