@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --main-color: #10b0c1;
  --main-color-text: #010036;
}
h1 {
  @apply text-black text-2xl mdl:text-[28px] font-bold text-center mdl:text-start;
}
h2 {
  @apply text-black text-lg mdl:text-xl font-bold text-center mdl:text-start;
}

.default-field {
  @apply h-14 ps-5 pe-3 rounded-xl border border-greenMain ring-1 ring-transparent focus:ring-greenMain outline-none transition-all placeholder:text-base;
}

label {
  @apply text-base mdl:text-xl;
}

.default-page {
  @apply bg-white h-full px-0 md:px-4 lg:px-6 xl:px-12 py-6 rounded-xl flex flex-col gap-y-6;
}
.sec-page {
  @apply h-full flex flex-col gap-6;
}
/*aside*/
aside{
  color: var(--main-color-text);
}
aside.closeMenue p {
  display: none;
}
aside.closeMenue ul .arrowLinkNav {
  display: none;
}
aside ul li a svg path {
  transition: 0.5s;
}
aside ul li a.active svg path {
  fill: var(--main-color);
}
aside ul  button.active svg path {
  fill: var(--main-color);
}
aside .topMobNav {
  display: none;
}
header .hideShowLinks {
  background-color: #f1fcff;
  min-width: 34px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
header .hideShowLinks:hover {
  background-color: #dff0f4f6;
}

header .hideShowLinks svg {
  width: 9px;
  transition: 0.5s;
}
html[dir='ltr']  header .hideShowLinks svg {
  transform: rotateY(180deg);
}
header .hideShowLinks.closeArrow svg {
  transform: rotateY(180deg);
}
html[dir='ltr']  header .hideShowLinks.closeArrow svg {
  transform: rotateY(0deg);
}
aside .topMobNav {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
aside .topMobNav .hideShowLinks {
  background-color: #f1fcff;
  min-width: 34px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
aside .topMobNav .hideShowLinks svg {
  width: 9px;
  transition: 0.5s;
}
header  .hideShowLinks2 {
  background-color: #f1fcff;
  min-width: 34px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  display: none;
}
header  .hideShowLinks2 svg {
  width: 15px;
  transition: 0.5s;
}
aside .dropMenuDash li a p{
  font-size: 16px !important;

}
.numNotfication{
  border-radius: 50% !important;
}
html[dir='ltr'] aside .topMobNav .hideShowLinks svg {
 transform:rotateY(180deg);
}
.lineAfterLinks{
  @apply h-8 w-1.5 rounded-e-md bg-greenMain absolute right-[-16px] xl:right-[-32px] transition
}
html[dir='ltr'] .lineAfterLinks{
  @apply h-8 w-1.5 rounded-e-md bg-greenMain absolute left-[-16px] xl:left-[-32px] right-auto transition
}
.mantine-Pagination-control {
 
  color: black;
  background: #F5F5F5;
  border: none !important;
  font-weight: bold;
  border-radius: 10px !important;
}
.mantine-Pagination-control:where([data-active])  {
 
  color: black !important;
  background: #F5F5F5 !important;
  border: none;
  font-weight: bold;
}
.paginationBtn{
  border: 1px solid #010036;
  transition: 0.4s;
}
.paginationBtn{
  position: relative;
}
.paginationBtn svg{
 
  width: 18px;
  height: 17px;
 
}
.paginationBtn:hover{
  box-shadow: 0px 0px 5px #010036;
} 
.paginationNext svg{
  transform: rotateY(180deg);
}
@media (max-width: 768px) {
  aside .topMobNav {
    display: flex;
  }
  aside {
    width: 180px !important;
    min-width: 180px !important;
    position: fixed;
    top: 0;
    right: 0px;
    background-color: white;
    height: auto;
    min-height: 100vh;
    display: flex;
    padding-top: 0px !important;
    padding: 20px !important;
    z-index: 500;
    box-shadow: 0px -14px 51.7px 8px #0000001A;

  }
  aside.openMob {
    right: -180px !important;
  }
 html[dir='ltr'] aside {
    left: 0px;
    right: auto;
  }
  html[dir='ltr'] aside.openMob {
    left: -180px !important;
    right: auto;
  }
  header  .hideShowLinks2 {
    display: flex;
  }
  header  .hideShowLinks {
    display: none !important;
  }
}
/**/
.showMore{
  border: 1px solid #939393;
}
.showMore svg{
  @apply w-[15px] 
}
.contents{
  border-bottom: 1px solid;
}
.headTitleDash{
  @apply text-[16px] md:text-[20px] ms-0 md:ms-5
}
.BtnheaderRequests svg{
  @apply md:w-[20px] w-[15px] md:h-[20px] h-[15px] 
}
/*modelReq*/
.modelReq .mantine-Modal-content{
  border-radius: 32px;

}

.modelReq .mantine-Modal-inner{
  top: 50% !important;
  left: 50%;
  transform: translate(-50%,-50%);
}
.modelReq .mantine-Modal-body{
  padding: 66px 72px 58px;
  @apply px-[14px] pb-[40px] pt-[90px] md:pt-[66px] md:px-[72px] md:pb-[58px]
}
.modelReq .mantine-Modal-body{}