.home-banner {
  background-image: url('/assets/img/home-bg.webp');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      107deg,
      #f29342 -1.02%,
      rgba(242, 147, 66, 0.27) -1.01%,
      rgba(242, 147, 66, 0) 71.32%,
      rgba(242, 147, 66, 0) 99.21%
    );
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 55%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      179deg,
      rgba(0, 0, 0, 0) 1.38%,
      rgba(68, 14, 29, 0) 1.39%,
      rgba(65, 14, 28, 0.49) 71.42%,
      #410e1c 96.69%
    );
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-pagination-fraction {
  width: auto !important;
}
.s-arrow.swiper-button-disabled {
  opacity: 0.2;
}

.parallex-img {
  background: url('/assets/img/parallex-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(98, 18, 39, 0.404);
  }
}
.our-branches {
  background-image: url('/assets/img/map-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.truck-slide {
  position: relative;
  border-radius: 20px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 50%;
    border-radius: 20px;
    @include mdq(all-mobile) {
      border-radius: 10px;
    }

    opacity: 0.5;
    background: linear-gradient(0deg, rgba(98, 18, 40, 0) 0%, #621228 100%);
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 2332;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    @include mdq(all-mobile) {
      border-radius: 10px;
    }
    opacity: 0.5;
    background: linear-gradient(
      180deg,
      rgba(242, 147, 66, 0) 0%,
      rgba(242, 147, 66, 0.72) 100%
    );
  }
}
.product-info {
  &::after {
    transition: all 0.5s ease-in-out;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 40%;
    border-radius: 20px;
    @include mdq(all-mobile) {
      border-radius: 10px;
    }
    background: linear-gradient(
      0deg,
      rgba(242, 147, 66, 0) 0%,
      rgba(242, 147, 66, 0.72) 100%
    );
  }
  &::before {
    transition: all 0.5s ease-in-out;
    content: '';
    position: absolute;
    left: 0;
    opacity: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    border-radius: 20px;
    @include mdq(all-mobile) {
      border-radius: 10px;
    }
    background: linear-gradient(180deg, rgba(98, 18, 40, 0) 0%, #621228 100%);
  }
}
/* Initially hide all .product-info content except for .product-title */

.product-info *:not(.product-title, .product-desc) {
  opacity: 0;

  // transform: translateY(20px); /* Slight vertical offset for animation */
  max-height: 0; /* Start with no height */
  overflow: hidden; /* Ensure content doesn't overflow during transition */
  transition:
    opacity 0.8s ease-in-out,
    transform 0.7s ease-in-out,
    max-height 0.6s ease-in-out; /* Smooth transition for opacity, transform, and max-height */
}

.product-title {
  display: flex;
  opacity: 1;
}
.truck-slide:hover .product-info {
  &::after,
  &::before {
    opacity: 1;
  }
  *:not(.product-desc) {
    opacity: 1;
    // transform: translateY(0); /* Move back to original position */
    max-height: 500px; /* Adjust based on your content's needs */
    /* Note: Transition for max-height can be a bit tricky. It's not as smooth as other properties and depends on the content size. */
  }
}

.product-desc {
  padding: 0 20px;
}
.partner-slide .partner-info {
  border-radius: 0px 0px 20px 20px;
}
.s-arrow {
  @include mdq(all-mobile) {
    width: 30px;
    // height: 20px;
  }
}
.svg-hover-color:hover {
  filter: invert(21%) sepia(80%) saturate(6459%) hue-rotate(321deg)
    brightness(92%) contrast(106%);
}
.learn-link {
  transition: all 0.6s ease-in-out !important;
  .more-svg path {
    transition: all 0.6s ease-in-out;
  }

  &:hover {
    color: #621228;
    .more-svg {
      path {
        fill: #621228;
      }
    }
  }
}
.s-arrow:not(.swiper-button-disabled) {
  cursor: pointer;
}
.circle-container {
  width: 31.25vw; /* Circle width as 50% of the viewport width */
  height: 31.25vw; /* Keep height equal to width to maintain circle shape */
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.02); /* Light gray background */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon {
  position: absolute;
  width: 6vw; /* Icon width based on viewport width */
  /* Keep icon height proportional to width */
  display: flex;
  padding: 1.5vw;
  @include mdq(all-mobile) {
    padding: 15px;
  }
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.2); /* Light gray background */
  transform-origin: 50% 50%; /* Ensure rotation pivot is at the center */
  img {
    width: 100%;
  }
}

/* Calculate translate based on the container size minus half the icon size */
.circle-icon:nth-child(1) {
  transform: rotate(0deg) translate(15.5vw) rotate(-0deg);
}
.circle-icon:nth-child(2) {
  transform: rotate(72deg) translate(15.5vw) rotate(-72deg);
}
.circle-icon:nth-child(3) {
  transform: rotate(144deg) translate(15.5vw) rotate(-144deg);
}
.circle-icon:nth-child(4) {
  transform: rotate(216deg) translate(15.5vw) rotate(-216deg);
}
.circle-icon:nth-child(5) {
  transform: rotate(288deg) translate(15.5vw) rotate(-288deg);
}
