.social-icons {
  a {
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
}
.footer-links {
  a {
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #621228;
    }
  }
}
