.menu-links {
  li {
    @extend .transition-speed;
    &:hover {
      opacity: 0.7;
    }
    &.active {
      font-weight: 700;
    }
  }
  .dropdown-item {
    @extend .transition-speed;
    &:hover button {
      opacity: 0.7;
    }
    &.active {
      font-weight: 700;
    }
  }
}
.mobile-menu {
  li {
    &.active {
      font-weight: 700;
    }
  }
}
/* Custom Gradient for Overlay */
.overlay-gradient {
  background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
  @apply backdrop-blur-xl;
}

/* Semi-transparent Dark Background for Menu */
.menu-bg {
  background-color: rgba(33, 37, 41, 0.85);
}

/* Adjusted Border Color for Menu Items */
.menu-item-border {
  border-bottom: 1px solid #b1b1b1; /* Lighter border for better contrast */
}
