<!DOCTYPE html PUBLIC>
<html dir="rtl" lang="ar">
  <head>
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/logo-white.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/clients-email.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/calendar.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/check-hand.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/care.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/screen.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/client-email-footer.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta
      content="text/html; charset=UTF-8"
      http-equiv="Content-Type"
    />
    <meta name="x-apple-disable-message-reformatting" />
    <!--$-->
  </head>
  <body
    style="
      background-color: #fff;
      font-family: 'Sugo UI', 'IBM Plex Sans Arabic', Arial,
        sans-serif;
    "
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        max-width: 430px;
        background-color: #ffffff;
        margin: 0 auto;
        padding-top: 32px;
      "
    >
      <tbody>
        <tr style="width: 100%">
          <td align="center" style="text-align: center">
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="
                height: 369px;
                background-image: url('https://spectra2.profound-group.com/new-images/clients-email.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 36px;
              "
              width="100%"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      text-align: center;
                      vertical-align: top;
                      color: #fff;
                      padding: 12px 32px;
                    "
                  >
                    <a
                      href="#"
                      style="text-decoration-line: none"
                      target="_blank"
                      ><img
                        alt="Spectra Logo"
                        src="https://spectra2.profound-group.com/new-images/logo-white.png"
                        style="
                          display: block;
                          outline: none;
                          border: none;
                          text-decoration: none;
                          margin: 0 auto 6px;
                        "
                        width="76"
                        height="33"
                    /></a>

                    <h1
                      style="
                        margin: 0px;
                        font-size: 24px;
                        font-weight: 700;
                      "
                    >
                      تعبت من الانتظار بالأيام
                    </h1>

                    <p
                      style="
                        font-size: 14px;
                        line-height: 24px;
                        margin: 0px;
                        font-weight: 400;
                      "
                    >
                      لتشخيص أو علاج حالة طفلك المصاب بالتوحد او
                      بالاضطرابات النمائية والسلوكية الاخرى ؟!
                    </p>

                    <a
                      href="#"
                      style="
                        line-height: 100%;
                        text-decoration: none;
                        display: inline-block;
                        max-width: 100%;
                        margin-top: 6px;
                        border-radius: 999px;
                        background-color: #010036;
                        font-weight: 600;
                        color: #fff;
                        padding: 12px 24px;
                      "
                      target="_blank"
                    >
                      انضم الينا
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div style="padding: 0 20px; margin: 40px 0">
              <h2
                style="
                  font-weight: 500;
                  font-size: 25px;
                  line-height: 38px;
                "
              >
                اكتشف مميزات وخدمات سبيكترا
              </h2>

              <p>
                سبيكترا هو أول مركز طب إتصالي و رعاية عن بعد، يقوم
                بتشخيص و علاج و رعاية إضطرابات تطور و سلوك الاطفال، عن
                طريق فرقنا المتعددة التخصصات المختارة بعناية، وفق جودة
                و معايير فنية و مهنية عالمية .
              </p>
            </div>

            <table
              border="0"
              cellpadding="0"
              cellspacing="12px"
              role="presentation"
              width="100%"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      text-align: center;
                      color: #010036;
                      background-color: #f1fcff;
                      padding: 20px 10px;
                      width: 50%;
                      border-radius: 31px;
                      vertical-align: top;
                    "
                  >
                    <img
                      alt="Spectra Logo"
                      src="https://spectra2.profound-group.com/new-images/calendar.png"
                      style="
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        margin: 0 auto;
                      "
                      width="38"
                      height="45"
                    />

                    <h3
                      style="
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 30px;
                        margin: 12px 0;
                      "
                    >
                      متابعة مواعيدك بسهولة
                    </h3>

                    <p style="margin: 0">
                      تتبع مواعيدك وجدولك الزمني بكل سلاسة
                    </p>
                  </td>
                  <td
                    style="
                      text-align: center;
                      color: #010036;
                      background-color: #f1fcff;
                      padding: 20px 10px;
                      width: 50%;
                      border-radius: 31px;
                      vertical-align: top;
                    "
                  >
                    <img
                      alt="Spectra Logo"
                      src="https://spectra2.profound-group.com/new-images/check-hand.png"
                      style="
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        margin: 0 auto;
                      "
                      width="50"
                      height="45"
                    />

                    <h3
                      style="
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 30px;
                        margin: 12px 0;
                      "
                    >
                      واجهة مستخدم محسنة
                    </h3>

                    <p style="margin: 0">
                      استمتع بتجربة فريدة وسلسة مع واجة المستخدم
                      المحسنة
                    </p>
                  </td>
                </tr>

                <tr>
                  <td
                    style="
                      text-align: center;
                      color: #010036;
                      background-color: #f1fcff;
                      padding: 20px 10px;
                      width: 50%;
                      border-radius: 31px;
                      vertical-align: top;
                    "
                  >
                    <img
                      alt="Spectra Logo"
                      src="https://spectra2.profound-group.com/new-images/care.png"
                      style="
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        margin: 0 auto;
                      "
                      width="47"
                      height="45"
                    />

                    <h3
                      style="
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 30px;
                        margin: 12px 0;
                      "
                    >
                      رعاية ومتابعة دقيقة
                    </h3>

                    <p style="margin: 0">
                      اطّلع على حالة طفلك بسهولة من خلال تحديثات
                      وتقارير شخصية مصممة خصيصًا لك.
                    </p>
                  </td>
                  <td
                    style="
                      text-align: center;
                      color: #010036;
                      background-color: #f1fcff;
                      padding: 20px 10px;
                      width: 50%;
                      border-radius: 31px;
                      vertical-align: top;
                    "
                  >
                    <img
                      alt="Spectra Logo"
                      src="https://spectra2.profound-group.com/new-images/screen.png"
                      style="
                        display: block;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        margin: 0 auto;
                      "
                      width="47"
                      height="45"
                    />

                    <h3
                      style="
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 30px;
                        margin: 12px 0;
                      "
                    >
                      تقارير اوتوماتيكية
                    </h3>

                    <p style="margin: 0">
                      منصتنا تتيح لك اضافة تقارير المرضى بشكل سهل
                      لتوفير وقتك
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="
                height: 500px;
                background-image: url('https://spectra2.profound-group.com/new-images/client-email-footer.png');
                background-size: contain;
                background-position: top;
                background-repeat: no-repeat;
                background-color: #e6f8fa;
                margin-top: 30px;
              "
              width="100%"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      text-align: center;
                      vertical-align: bottom;
                      color: #280f52;
                      padding: 20px;
                      padding-bottom: 50px;
                    "
                  >
                    <p
                      style="
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 45px;
                        margin: 0;
                      "
                    >
                      حمل تطبيق سبيكترا الان
                    </p>

                    <p style="margin: 16px">
                      أو قم بزيارة موقعنا للتعرف على جميع الخدمات
                      والمميزات اللتي تقدمها لك سبيكترا
                    </p>

                    <a
                      href="#"
                      target="_blank"
                      style="
                        background-color: #2acadb;
                        color: #fff;
                        display: inline-block;
                        padding: 10px 32px;
                        border-radius: 999px;
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 700;
                      "
                    >
                      انضم الان
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div
              dir="rtl"
              style="background-color: #e6f8fa; padding: 0 20px 60px"
            >
              <a
                href="#instagram"
                target="_blank"
                style="display: inline-block; margin-left: 12px"
              >
                <img
                  alt="instagram"
                  src="https://spectra2.profound-group.com/new-images/insta.png"
                  height="34"
                  width="34"
                />
              </a>
              <a
                href="#X"
                target="_blank"
                style="display: inline-block; margin-left: 12px"
              >
                <img
                  alt="X"
                  src="https://spectra2.profound-group.com/new-images/x.png"
                  height="34"
                  width="34"
                />
              </a>
              <a
                href="#facebook"
                target="_blank"
                style="display: inline-block; margin-left: 12px"
              >
                <img
                  alt="facebook"
                  src="https://spectra2.profound-group.com/new-images/facebook.png"
                  height="34"
                  width="34"
                />
              </a>

              <p
                dir="ltr"
                style="
                  margin: 0;
                  margin-top: 12px;
                  color: #616161;
                  font-size: 10px;
                  text-align: center;
                  line-height: 2;
                "
              >
                ©2024 Spectra,The brand names, slogans, logos, other
                trademarks of Spectra, promotions belong exclusively
                to Spectra.
              </p>

              <a
                dir="ltr"
                href="#"
                target="_blank"
                style="
                  margin-top: 12px;
                  display: block;
                  text-align: center;
                  color: #616161;
                  font-size: 10px;
                  text-decoration: underline;
                "
              >
                Unsubscribe
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!--/$-->
  </body>
</html>
