<!DOCTYPE html PUBLIC>
<html dir="rtl" lang="ar">
  <head>
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/logo.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/password-reset.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta
      content="text/html; charset=UTF-8"
      http-equiv="Content-Type"
    />
    <meta name="x-apple-disable-message-reformatting" />
    <!--$-->

    <style>
      body,
      tbody,
      h1,
      h2,
      h3,
      p,
      a {
        font-family: 'IBM Plex Sans Arabic', serif;
      }
    </style>
  </head>
  <body
    style="
      background-color: #ffffff;
      font-family: 'IBM Plex Sans Arabic', serif;
    "
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        max-width: 450px;
        background-color: #ffffff;
        border-radius: 5px;
        margin-top: 20px;
        margin: 0 auto;
        padding: 68px 0 130px;
      "
    >
      <tbody>
        <tr style="width: 100%">
          <td>
            <a
              href="#"
              style="text-decoration-line: none"
              target="_blank"
              ><img
                alt="Spectra Logo"
                height="39"
                src="https://spectra2.profound-group.com/new-images/logo.png"
                style="
                  display: block;
                  outline: none;
                  border: none;
                  text-decoration: none;
                  margin: 0 auto 20px auto;
                "
                width="96"
            /></a>
            <h1
              style="
                font-size: 24px;
                line-height: 36px;
                font-weight: 700;
                text-align: center;
              "
            >
              مرحبا احمد
            </h1>

            <img
              alt="Spectra"
              src="https://spectra2.profound-group.com/new-images/password-reset.png"
              style="
                display: block;
                outline: none;
                border: none;
                text-decoration: none;
                margin: 32px auto;
              "
              width="336px"
              height="237px"
            />

            <p
              style="
                font-size: 16px;
                line-height: 30px;
                margin: 16px 0;
                font-weight: 400;
                text-align: center;
              "
            >
              لقد تلقينا طلباً لإعادة تعيين كلمة المرور الخاصة بحسابك.
              إذا كنت أنت من أرسل هذا الطلب، يمكنك إعادة تعيين كلمة
              المرور عبر الزر أدناه
            </p>
            <a
              href="#"
              style="
                color: white;
                text-decoration-line: none;
                background-color: #10b0c1;
                border-radius: 10px;
                padding: 13px 20px;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                text-align: center;
                text-decoration: none;
                width: 100%;
                max-width: 300px;
                margin: 0 auto;
                display: block;
              "
              target="_blank"
            >
              اعادة التعيين</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <!--/$-->
  </body>
</html>
