<!DOCTYPE html PUBLIC>
<html dir="rtl" lang="ar">
  <head>
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/logo.png"
    />
    <link
      rel="preload"
      as="image"
      href="https://spectra2.profound-group.com/new-images/session-summary.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta
      content="text/html; charset=UTF-8"
      http-equiv="Content-Type"
    />
    <meta name="x-apple-disable-message-reformatting" />
    <!--$-->

    <style>
      body,
      tbody,
      h1,
      h2,
      h3,
      p,
      a {
        font-family: 'IBM Plex Sans Arabic', serif;
      }

      li {
        margin-bottom: 12px;
      }
    </style>
  </head>
  <body
    style="
      background-color: #ffffff;
      font-family: 'IBM Plex Sans Arabic', serif;
    "
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        max-width: 450px;
        background-color: #ffffff;
        border-radius: 5px;
        margin-top: 20px;
        margin: 0 auto;
        padding: 68px 0 130px;
      "
    >
      <tbody>
        <tr style="width: 100%">
          <td>
            <a
              href="#"
              style="text-decoration-line: none"
              target="_blank"
              ><img
                alt="Spectra Logo"
                height="39"
                src="https://spectra2.profound-group.com/new-images/logo.png"
                style="
                  display: block;
                  outline: none;
                  border: none;
                  text-decoration: none;
                  margin: 0 auto 20px auto;
                "
                width="96"
            /></a>
            <h1
              style="
                font-size: 24px;
                line-height: 36px;
                font-weight: 700;
                text-align: center;
              "
            >
              مرحبا احمد
            </h1>
            <h2
              style="
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                text-align: center;
              "
            >
              ملخص جلستك اليوم مع د. احمد محمد كمال
            </h2>
            <img
              alt="Spectra"
              height="303"
              src="https://spectra2.profound-group.com/new-images/session-summary.png"
              style="
                display: block;
                outline: none;
                border: none;
                text-decoration: none;
                margin: 32px auto;
              "
              width="363"
            />
            <ul
              style="
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                text-wrap: wrap;
                max-width: 450px;
                margin: 0 auto;
              "
            >
              <!-- MESSAGE -->
              <li>
                نود إعلامك بأن جلسة اليوم تمت مع د. احمد محمد كمال
                وكانت مخصصة لمتابعة حالة الطفل عبدالله الشيخ
              </li>
              <li>مدة الجلسة: 30 دقيقة</li>
              <li>
                ملاحظات الطبيب : الطفل يحتاج لرعاية ومتابعة لمدة شهر و
                اسبوعين
              </li>
              <li>
                الفحوصات المطلوبة : بناءً على تقييم الطبيب، يُنصح
                بإجراء الفحوصات التالية اشعة 1 - تحليل 1
              </li>
              <li>
                يرجى إحضار نتائج الفحوصات ورفعها فى الجزء الخاص
                بالجلسة فى ملفى، لمساعدتنا على متابعة الحالة بأفضل
                طريقة ممكنة
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <!--/$-->
  </body>
</html>
